:host {
    text-align: center;
  }

  nz-header,
  nz-footer {
    padding: 0 300px;
    background: rgba(206, 61, 62);
    color: #fff;
  }

  nz-footer {
    line-height: 1.5;
  }

  nz-sider {
    background: rgba(245,245,245);
    /* color: #fff; */
  }

  nz-content {
    background: #fff ;
    padding: 0 200px; 
    color: #fff;
    min-height: 120px;
    line-height: 120px;
  }

  nz-layout {
    margin-bottom: 48px;
  }

  nz-layout:last-child {
    margin: 0;
  }
  .logo {
    position: absolute;
    width: 150px;
    height: 48px;
    background: url("../../assets/logo.png") no-repeat left center;
    background-size: cover;
    top: 5px;
  }
  .tabs-list{
    /* height: 100%; */
    position: absolute;
    left: 400px;
  }
  .tabs-list ul>li{
    width: 100px;
    line-height: 65px;
    float: left;
    list-style: none;
  }
  .tabs-list ul>li:hover{
      background-color: rgba(15, 17, 19, 0.4);
  }
  .seachbar{
    position: absolute;
    right: 650px; 
    width: 200px;
  }
  .login{
      position: absolute;
      right: 250px;
  }
  .swiper-container {
    height: 300px;
}  
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.button-prev .button-next{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -31px;
    width: 37px;
    height: 63px;
    text-indent: -9999px;
    color: #000;
}
.play-bar{
  position:fixed;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 10px;
  height: 56px;
  background: rgba(50, 49, 49);
  transition: bottom 0.2s;
  z-index:999;
}
.play-bar:hover{
  /* bottom: 0px; */
}
.player{
  display: flex;
  padding: 0 550px;
  color: #fff;
}
.play{
  font-size: 14px;
  color: #fff;
  display: flex;
  line-height: 1em;
}
.process {
  width: 500px;
  height: 10px;
  background-color: rgb(83, 83, 83);
}

.son {
  position: relative;
  background-color: rgb(199, 12, 12);
  width: 20%;
  height: 100%;
}
.cdbtn{
    position: absolute;
    width: 18px;
    height: 20px;
    top: 50%;
    right: -10px;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    z-index: 999;
}
.cdbtn::before{
    width: 8px;
    height: 8px;
    background-color: red;
    content: '';
    top: 50%;
    left: 50%;
    display: inline-block;
    position: absolute;
    transform:translate(-50%,-50%);
    border-radius: 50%;
}
.sound{
  position: relative;
  font-size: 20px;
  margin-left: 20px;
  line-height: 1.5em;
}
.list-number{
    font-size: 16px;
    display: inline-block;
    width: 36px;
    line-height: 1em;
    color: #666;
    text-shadow: 0 1px 0 #080707;
    text-indent: 0;
    border: 1px solid #666;
    border-radius: 10px;
}
.m-vol{
  position: absolute;
  top: -122px;
  left: -8px;
  clear: both;
  width: 32px;
  height: 113px;
  background-color: rgba(40, 40, 40,.9);
}
.barbg{
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 113px;
  background-position: 0 -503px;
}
.m-vol .curr{
  width: 100%;
  position: absolute; 
  bottom: 0;
  left: 0;
  background-position: -40px bottom;
  overflow: hidden;
  background-color: rgba(199, 12, 12)
}
.vbg{
  position: absolute;
  bottom: 6px;
  left: 14px;
  width: 4px;
  height: 93px;
  background-color: #000;
}
.m-vol .btn{
  position: absolute;
  top: 0;
  left: -7px;
  display: block;
  width: 16px;
  height: 16px;
  background-position: -40px -250px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
}
.m-vol .btn::before{
  width: 6px;
  height: 6px;
  background-color: red;
  content: '';
  top: 50%;
  left: 50%;
  display: inline-block;
  position: absolute;
  transform:translate(-50%,-50%);
  border-radius: 50%;
}