<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <div class="tabs-list">
      <ul>
        <li routerLink="/home/songList" routerLinkActive="active" (click)="showSwiper($event)">发现音乐</li>
        <li routerLink="/home/singlist/2819914042" (click)="showSwiper($event)">我的音乐</li>
        <li routerLink="/home/rank" (click)="showSwiper($event)">排行榜</li>
        <li routerLink="/home/singer" (click)="showSwiper($event)">歌手</li>
        <li routerLink="/crisis-center"(click)="showSwiper($event)">下载客户端</li>
      </ul>
    </div>
    <div class="seachbar">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="音乐/视频/电台/用户" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <div class="login">
      <a href="#" style="color:#787878;margin-right: 4px">登录</a>
      <i nz-icon nzType="down"></i>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider></nz-sider>
    <nz-content>
    <nz-carousel nzAutoPlay class="swiper-container" *ngIf="isShow" (nzAfterChange)="change($event)" nzDots="true">
        <div nz-carousel-content *ngFor="let index of slides" class="swiper-slide">
            <img [src]="index.imageUrl" alt="">
        </div>
        <!-- <div class="button-prev" (click)='changePrev($event)'><</div>
        <div class="button-next" (click)='changeNext($event)'>></div> -->
      </nz-carousel>
    <router-outlet></router-outlet>
    </nz-content>
    <nz-sider></nz-sider>
  </nz-layout>
  <nz-footer>
    <div class="play-bar">
      <i nz-icon nzType="rocket" nzTheme="outline" style="position: absolute;right: 10px;top: -12px;font-size: 16px;background-color:rgb(50, 49, 49);border-radius: 80%;padding: 5px"></i>
      <div class="player">
         <div class="btn" style="font-size: 26px;margin-right: 20px;">
          <a href="javascript:;" style=" color:inherit;"><i nz-icon nzType="step-backward" nzTheme="outline"></i></a>
          <a href="javascript:;" style=" color:inherit;"><i nz-icon nzType="play-circle" nzTheme="outline" style="font-size: 32px;margin: 0 10px;" (click)="paused($event)"></i></a>
          <a href="javascript:;" style=" color:inherit;"><i nz-icon nzType="step-forward" nzTheme="outline"></i></a>
         </div>
         <div class="play">
           <div style="margin-right: 10px;">
              <img [src]="playView && playView['al'] && playView['al'].picUrl" style="width: 34px;height: 34px;" alt="">
           </div>
           <div class="cdbox" style="display: block;">
              <div class="title" style="text-align: left;padding: 0 2px 10px;position: relative;">
                  {{playView && playView['name']}}<i nz-icon nzType="paper-clip" nzTheme="outline" style="margin: 0 5px;"></i><span style="color: #9b9b9b;">{{playView && playView['ar'] && playView['ar'][0].name}}</span>
                  <span style="position: absolute;right: 0;">00:00/3:21</span>
                 </div>
                 <div class="process" (click)="move($event)">
                  <div class="son">
                    <span class='cdbtn'></span>
                  </div>
                 </div>
           </div>
         </div>
         <audio controls="controls" style="display: none;" #audio></audio>
      </div>
    </div>
  </nz-footer>
</nz-layout>
