<ul>
    <li *ngFor='let item of todos;trackBy:trackByTodo'>
      <span [class.done]='item.done' (click)='changeType(item.id)'>{{item.name}}</span>
      &nbsp;&nbsp;
      <a href="#" (click)='remove($event,item.id)'>移除</a>
    </li>
</ul>

<!-- <div class="list-box">
  <ul>
    <li>
      <div class="content">
        <div class="title">
          专栏 · GGBonda · 三小时前 · java
        </div>
        <div class="info">
          HashMap源码解析（一）
        </div>
        <div class="icon">
          <ul>
            <li class="list-border">
                <nz-statistic [nzValue]="1128 | number" [nzPrefix]="prefixTpl"></nz-statistic>
                <ng-template #prefixTpl><i nz-icon nzType="like"></i></ng-template>
            </li>
            <li class="list-border">
                <nz-statistic [nzValue]="1128 | number" [nzPrefix]="prefixTp2"></nz-statistic>
                <ng-template #prefixTp2><i nz-icon nzType="message"></i></ng-template>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div> -->