<div class="sc-fjdhpX hbiMsK">
  <div>
    <h1 class="offical" style="pointer-events: auto;">官方榜</h1>
    <ul class="sc-jKJlTe iCxYBm" style="pointer-events: auto;display: flex;">
      <li class="sc-eNQAEJ eaNeqo"  *ngFor="let item of rankList">
        <div class="img_wrapper"><img [src]='item.coverImgUrl'
            alt="" routerLink="/home/singlist/{{item.id}}">
          <div class="decorate"></div><span class="update_frequecy">{{item.updateFrequency}}</span>
        </div>
        <ul class="sc-hMqMXs ivbCFI" style="display: block" *ngIf="item.tracks.length > 0">
          <li *ngFor='let song of item.tracks;let i = index'>{{i+1}}.{{song.first}}-{{song.second}}</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
